@model Formatics.Models.Patient

@{
    var patient = ViewData["Patient"] as Formatics.Models.Patient;
    ViewBag.Title = "Details";
}

@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Formatics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Patient", new { PatientNumber = patient.PatientNumber })</li>
                    <li>@Html.ActionLink("View Profile", "Details", new { PatientNumber = patient.PatientNumber })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}
<h2>Patient Profile</h2>
<div class="container">
    <div class="row">
        <div style="border:double;  border-color: olivedrab" class="col-sm-12">
            
                <h4>Patient</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt hidden>
                        @Html.DisplayNameFor(model => model.ApplicationId)
                    </dt>

                    <dd hidden>
                        @Html.DisplayFor(model => model.ApplicationId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.firstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.middleName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.middleName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.age)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.sex)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.sex)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.phoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.phoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.streetAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.streetAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.city)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.city)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.zipcode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.zipcode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.state)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.state)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.enrollDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.enrollDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.insurance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.insurance)
                    </dd>

                </dl>
            </div>

        </div>
    </div>

            @Html.ActionLink("Edit Profile", "Edit", new { PatientNumber = patient.PatientNumber }, new { @class = "btn btn-default" })
            @Html.ActionLink("Medical History", "MedicalHistory", new { PatientNumber = patient.PatientNumber }, new { @class = "btn btn-default" })


            @*@Html.Partial("_ProfilePicture")*@
            \
            <script>
                $(document).ready(function () {


                    $('#UploadPicture').click(function () {

                    });

                });
                <script>
