
@{
    ViewBag.Title = "Index";
    var list = ViewData["AlertData"] as List<Formatics.Models.Alert>;
    var resources = ViewData["Resources"] as List<string>;

}

<h2>Dashboard</h2>
<dl class="dl-horizontal">
    @Html.Display("Personalization")
</dl>
<br />
<br />
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Display("Patient")
    </dl>
    <dl class="dl-horizontal">
        @Html.Display("Glimpse")
    </dl>




</div>

<table class="table">


    @foreach (var item in list)
    {
        <tr>
            <td>
                @Html.Display(item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
            </td>

        </tr>
    }
    <button data-url='@Url.Action("Alerts", "FrontEnd", new { id = 1})'>View All</button>

</table>

<table class="table">


    @foreach (var item in resources)
    {
        <tr>
            <td>
                @Html.Display(item)
            </td>
        </tr>
    }

</table>




@*<div id="LoadAlerts" data-url='@Url.Action("Alerts", "FrontEnd", new { id = 0})'>

            @Html.Partial("~/Views/FrontEnd/_Alerts.cshtml")

    </div>*@

@*<div>
        @Html.Partial("~/Views/FrontEnd/_TreatmentGlimpse.cshtml")
        <button>View</button>
    </div>

    <div>
        @Html.Partial("~/Views/FrontEnd/_Resources.cshtml")
    </div>*@
@*<div>
        @Html.Partial("~/Views/FrontEnd/_Personalization.cshtml")
    </div>*@

<script>
    $(document).ready(function () {

        $('#AlertView').show();
        $('#TreatementGlimpseView').show();
        $('#ResourcesView').show();
        $('#PersonalizationView').show();


    });

</script>