
@{
    ViewBag.Title = "Index";
    var list = ViewData["AlertData"] as List<Formatics.Models.Alert>;
    var resources = ViewData["Resources"] as List<string>;
    var patient = ViewData["Patient"] as Formatics.Models.Patient;
   var alert = ViewData["Appointment"] as Formatics.Models.Alert;



}

@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Formatics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Patient", new { PatientNumber = patient.PatientNumber })</li>
                    <li>@Html.ActionLink("View Profile", "Details", new { PatientNumber = patient.PatientNumber })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}


<h2>Dashboard</h2>
<dl class="dl-horizontal">
    @Html.Display("Personalization")
</dl>
<br />
<br />
<h1>@Html.Display("Date")</h1>
<div>
    <hr />
    <h3>Daily Planner</h3>
    <dl id="GlimpsePage" class="dl-horizontal">
        <h5>Day </h5>
        @Html.Display("Glimpse")
    </dl>
    <h5> Description</h5>
    <dl>
        @Html.Display("Day")

    </dl>
    @Html.ActionLink("View", "Intervention", new { PatientNumber = patient.PatientNumber }, new { @class = "btn btn-default" })


</div>
@Html.ActionLink("Medication", "Index", "Medicine", new { PatientNumber = patient.PatientNumber }, new { @class = "btn btn-default" })

<h4>Alerts</h4>

@Html.Partial("~/Views/FrontEnd/_Alerts.cshtml", list)
<button id="Alert" data-url='@Url.Action("ViewAll", "Patient")'>View All</button>

<h4>Resources</h4>

<table class="table">


    @foreach (var item in resources)
    {
        <tr>
            <td>
                <a href="@(item)">@(item)</a>
            </td>
        </tr>
    }

</table>






