
@{
    ViewBag.Title = "Index";
    var list = ViewData["Medicines"] as List<Formatics.Models.Medicine>;
}

<h2>Medicine</h2>>


<table class="table">


    @foreach (var item in list)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.drugClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCurrent)                                        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <button data-url='@Url.Action("Alerts", "FrontEnd", new { id = 1})'>Details</button>
        </td>
    </tr>
    <tr>
        @Html.Partial("~/Views/FrontEnd/_detailsMedicine.cshtml", item)

    </tr>

    }
</table>
<button id= "Medicine" data-url='@Url.Action("Alerts", "FrontEnd", new { id = 1})'>View All</button>
<button id = "Order" data-url='@Url.Action("Alerts", "FrontEnd", new { id = 1})'>Order Perscription</button>


@*<button>Medical History</button>*@*
@*@Html.Partial("~/Views/FrontEnd/_MedicalHistory.cshtml")
    </p>*@

<script>
    $(document).ready(function () {
        $('#Medicine').click(function () {

        });

          $('#Order').click(function () {

        });

    });

</script>
