
@{
    ViewBag.Title = "Index";
    var list = ViewData["Medicines"] as List<Formatics.Models.Medicine>;
    
}

<h2>Medicine</h2>>


<table class="table">


    @foreach (var item in list)
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.drugClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCurrent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <button id "Details" data-url='@Url.Action("Alerts", "FrontEnd", new { id = 1})'>Details</button>
        </td>
        @if (item.isCurrent == true)
        {
        <td>
        <button id="Order" data-url='@Url.Action("Alerts", "FrontEnd", new { id = 1 })'>Order Perscription</button>
         </td>
        }
    </tr>
        <tr>
            <td>
                @*@Html.Partial("~/Views/FrontEnd/_detailsMedicine.cshtml", item)*@
            </td>
        </tr>

        <tr>
            <td>
                @*@Html.Partial("~/Views/FrontEnd/_detailsMedicine.cshtml", item)*@
            </td>
        </tr>


    }
</table>


    

<script>
    $(document).ready(function () {

        //DetailsMedicineView //on load the details div will load, yet will wait for details click
        $('#Medicine').click(function () {

        });

          $('#Order').click(function () {

          });

          $('#Details').click(function () {

        });

    });

</script>
