
@{
    ViewBag.Title = "Index";
    var list = ViewData["Medicines"] as List<Formatics.Models.Medicine>;
    var patient = ViewData["Patient"] as Formatics.Models.Patient;
    var ingredients = ViewData["Ingredients"] as List<string>;
    var symptoms = ViewData["Symptoms"] as List<string>;
       var alert = ViewData["Appointment"] as Formatics.Models.Alert;

}

@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Formatics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Patient")</li>
                    <li>@Html.ActionLink("View Profile", "Details", "Patient", new { PatientNumber = patient.PatientNumber })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}
<h2>Medicine</h2>>

<div style="border:double;  border-color: olivedrab">
<table class="table">


    @foreach (var item in list)
    {
        <tr>
            <th>
                <h5>Drug Class</h5>
            </th>
            <th>
                <h5>Is Current</h5>
            </th>
            <th>
                <h5>Name</h5>
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.drugClass)
            </td>
            <td id="ingredients" hidden>
                @Html.DisplayFor(modelItem => item.ingredients)
            </td>

            <td id="symptoms" hidden>
                @Html.DisplayFor(modelItem => item.symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <button id="Details">Details</button>
            </td>
            <td id="detailsMedicine" hidden>
                @Html.Partial("~/Views/FrontEnd/_symptoms.cshtml", symptoms)
                @Html.Partial("~/Views/FrontEnd/_ingredients.cshtml", ingredients)
                <button id="HideDetails">Hide</button>

            </td>

            @if (item.isCurrent == true)
            {
                <td>
                    @Html.ActionLink("Order Perscription", "OrderPerscription", new { MedicineId = item.MedicineId }, new { @class = "btn btn-default" })
                </td>
            }
        </tr>
        <tr>
        </tr>




    }
</table>
</div>


<script>
    $("#Details").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

              $("#detailsMedicine").show();
              $("#Details").hide();

      
          });

         $("#HideDetails").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

              $("#detailsMedicine").hide();
             $("#Details").show();

         });

</script>
