
@{
    ViewBag.Title = "Index";
    var patient = ViewData["Patient"] as Formatics.Models.Patient;
    var steps = ViewData["Steps"] as List<Formatics.Models.Steps>;
    var stepsMedicines = ViewData["StepsMedicine"] as List<Formatics.Models.StepMedicine>;
    var stepsProcedures = ViewData["StepsProcedure"] as List<Formatics.Models.StepProcedure>;
    var procedures = ViewData["Procedure"] as List<Formatics.Models.Procedure>;
    var medicines = ViewData["Medicine"] as List<Formatics.Models.Medicine>;
    var appointment = ViewData["Appointment"] as Formatics.Models.Alert;
    var condition = ViewData["Condition"] as Formatics.Models.Feedback;
    var mood = ViewData["Mood"] as Formatics.Models.Feedback;


}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Formatics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Patient")</li>
                    <li>@Html.ActionLink("View Profile", "Details", "Patient", new { PatientNumber = patient.PatientNumber })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}
<h2>Treatment Plan</h2>

<div>
    <h4>Intervention</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Display("Diagnosis")

        @Html.ActionLink("Medication", "Medication", new { PatientNumber = patient.PatientNumber }, new { @class = "btn btn-default" })

        <h4>Daily Planner</h4>
        <dl id="GlimpsePage" class="dl-horizontal">
            <h5>Day </h5>
            @Html.Display("Glimpse")
        </dl>
        <h5> Description</h5>
        <dl>
            @Html.Display("Day")

        </dl>



        @Html.Display("Schedule")

        @for (int i = 1; i <= 7; i++)
        {
            <tr>
                <br />
                <th>
                    Day
                </th>
                <td>
                    @Html.DisplayFor(modelItem => steps[i].day)
                </td>
                <th>
                    Date
                </th>
                <td>
                    @Html.DisplayFor(modelItem => steps[i].Date)
                </td>
                <th>
                    Description
                </th>
                <td>
                    @Html.DisplayFor(modelItem => steps[i].description)
                </td>
                @if (procedures.Count != 0)
                {

                    foreach (var item1 in stepsProcedures)
                    {
                        if (item1.StepId == steps[i].StepId)
                        {
                            foreach (var procedure in procedures)
                            {
                                if (procedure.ProcedureId == item1.ProcedureId)
                                {
                                    @Html.DisplayFor(modelItem => procedure.category)
                                    break;
                                }

                            }
                        }
                    }
                }
                <h5>Take </h5>
                @foreach (var item2 in stepsMedicines)
                {
                    if (item2.StepId == steps[i].StepId)
                    {
                        foreach (var medicine in medicines)
                        {
                            if (medicine.MedicineId == item2.MedicineId && medicine.isCurrent == true)
                            {
                                @Html.DisplayFor(modelItem => medicine.name)
                                break;

                            }

                        }
                    }
                }
                <br />

            </tr>
        }

        <br />
        <br />


        <div id="dateAppoint" hidden>
            <h3> Appointment</h3>
            <br />
            <h3>Time</h3>
            @Html.Partial("~/Views/FrontEnd/_SetAppointment.cshtml", appointment)
        </div>



        <button id="Appoint">Appointment</button>

        @*//Date picker pops up*@

    </dl>


    <br />
    <br />
    <div id="review" hidden>
        <div>
            <h4>How do you feel about your condition today?</h4>
            @Html.Partial("~/Views/FrontEnd/_SubmitCondition.cshtml", condition)
        </div>
        <button id="SubmitCondition">Submit</button>


        <div>
            <h4>What is your overall mood today?</h4>
            @Html.Partial("~/Views/FrontEnd/_SubmitMood.cshtml", mood)

        </div>
        <button id="SubmitMood">Submit</button>
    </div>

    <button id="submitReview">Review</button>

</div>

<div>
    <h2>Some header above a graph</h2>
    <img src="@Url.Action("DrawChart")" />
</div>




@*<div>
       @Html.Partial("~/Views/FrontEnd/Schedule.cshtml");
             <button>Request Appointment</button>//Date picker pops up
    </div>
    <div>
        @Html.Partial("~/Views/FrontEnd/_Diagnosis.cshtml");
    </div>

    <div>
        @Html.Partial("~/Views/FrontEnd/_SubmitCondition.cshtml");\
    </div>

        <div>
        @Html.Partial("~/Views/FrontEnd/_SubmitMood.cshtml");\
    </div>

    <div>
        @Html.Partial("~/Views/FrontEnd/_DailyPlanner.cshtml");
    </div>*@

<script>

    $(document).ready(function () {



        $(function () {
            $("#input:text.date").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });

        $('#SubmitMood').click(function () { //async

        });

        $('#SubmitCondition').click(function () { //async then hide edit

        });

        $("#Appoint").click(function () {

            $("#dateAppoint").show();
            $("#Appoint").hide();


        });


        $("#submitReview").click(function () {

            $("#review").show();
            $("#submitReview").hide();

        });



    });

</script>
<script>

</script>