
@{
    ViewBag.Title = "Index";
    var patient = ViewData["Patient"] as Formatics.Models.Patient;
    var steps = ViewData["Steps"] as List<Formatics.Models.Steps>;
    var stepsMedicines = ViewData["StepsMedicine"] as List<Formatics.Models.StepMedicine>;
    var stepsProcedures = ViewData["StepsProcedure"] as List<Formatics.Models.StepProcedure>;
    var procedures = ViewData["Procedure"] as List<Formatics.Models.Procedure>;
    var medicines = ViewData["Medicine"] as List<Formatics.Models.Medicine>;
    var appointment = ViewData["Appointment"] as Formatics.Models.Alert;
    var condition = ViewData["Condition"] as Formatics.Models.Feedback;
    var mood = ViewData["Mood"] as Formatics.Models.Feedback;
    var medi = ViewData["CurrentMed"] as Formatics.Models.Medicine;





}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Progress Report"
	},
	axisY: {
		includeZero: false
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "line",
		name: "Mood",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints1)
        }, {
        type: "line",
        name: "Condition",
        showInLegend: true,
        dataPoints: @Html.Raw(ViewBag.DataPoints2)
        }]
        });
        chart.render();

        }
</script>
@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Formatics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Patient")</li>
                    <li>@Html.ActionLink("View Profile", "Details", "Patient", new { PatientNumber = patient.PatientNumber })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}
<h2>Treatment Plan</h2>

<div class="container">
    <h3>@Html.Display("Diagnosis") Treatment Plan</h3>
    <hr />
    <br />
    <br />
    <div class="row">
        <div style="border:double;  border-color: olivedrab" class="col-sm-6 sidenav">
      
            <div id="dateAppoint" hidden>
                <h3> Appointment</h3>
                <br />
                <h3>Time</h3>
                @Html.Partial("~/Views/FrontEnd/_SetAppointment.cshtml", appointment)
            </div>
            <button id="Appoint">Appointment</button>


            <ul class="nav nav-pills nav-stacked">
            </ul><br>

        </div>

        <div style="border:double;  border-color: olivedrab" class="col-sm-6">

            <h4>Daily Planner</h4>
            <dl id="GlimpsePage">
                <h5>Day </h5>
                @Html.Display("Glimpse")
            </dl>
            <h5> Description</h5>
            <dl>
                @Html.Display("Day")

            </dl>
            <h5> Take </h5>
            <dl>
                @Html.Display("CurrentMed")
            </dl>

            @Html.ActionLink("Medication", "Medication", new { PatientNumber = patient.PatientNumber }, new { @class = "btn btn-default" })

        </div>

        


    </div>

    @Html.Display("Schedule")

    <div style="border:double;  border-color: olivedrab" class="row">


        @for (int i = 1; i <= 6; i++)
        {
            <div style="border:double;  border-color: olivedrab" class="col-sm-2">

                <tr>
                    <br />
                    @*<th>
                        Day
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => steps[i].day)
                    </th>*@
                    <th>
                        Date
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => steps[i].Date)
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => steps[i].description)
                    </th>
                    <th>

                        @if (procedures.Count != 0)

                        {
                            foreach (var item1 in stepsProcedures)
                            {
                                if (item1 != null)
                                {
                                    if (item1.StepId == steps[i].StepId)
                                    {
                                        foreach (var procedure in procedures)
                                        {
                                            if (procedure.ProcedureId == item1.ProcedureId)
                                            {
                                            @Html.DisplayFor(modelItem => procedure.category)
                                              break;
                                            }


                                        }
                                    }
                                }
                                else
                                {
                                    break;
                                }
                            }

                        }
                    </th>

                    <h5>Take </h5>
                    @foreach (var item2 in stepsMedicines)
                    {
                        if (item2 != null)
                        {
                            if (item2.StepId == steps[i].StepId)
                            {
                                foreach (var medicine in medicines)
                                {
                                    if (medicine.MedicineId == item2.MedicineId && medicine.isCurrent == true)
                                    {
                                    @Html.DisplayFor(modelItem => medicine.name)
                                        break;

                                    }

                                }
                            }
                        }
                    }

                    <br />

                </tr>
            </div>

        }


    </div>

    <br />
    <br />




    <div style="border:double;  border-color: olivedrab" id="review">
        <div style="border:double;  border-color: olivedrab">
            @Html.Partial("~/Views/FrontEnd/_SubmitCondition.cshtml", condition)
        </div>


        <div style="border:double;  border-color: olivedrab">
            @Html.Partial("~/Views/FrontEnd/_SubmitMood.cshtml", mood)

        </div>
    </div>







</div>


<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>






<script>

    $(document).ready(function () {



        $(function () {
            $("#input:text.date").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });

        $('#SubmitMood').click(function () { //async

        });

        $('#SubmitCondition').click(function () { //async then hide edit

        });

        $("#Appoint").click(function () {

            $("#dateAppoint").show();
            $("#Appoint").hide();


        });





    });

</script>
<script>

</script>