
@{
    ViewBag.Title = "Index";
}

<h2>Treatment Plan</h2>

<div>
    <h4>Intervention</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Display("Diagnosis")

        @Html.Display("Schedule")


        <button id="RequestAppointment">Request Appointment</button>
        @*//Date picker pops up*@

    </dl>
    @Html.Editor("Submit Condition")
    <button id = "SubmitCondition">Submit</button>

    @Html.Editor("Submit Mood")
    <button id ="SubmitMood">Submit</button>

    @Html.Display("Daily Planner")


</div>


@*<div>
       @Html.Partial("~/Views/FrontEnd/Schedule.cshtml");
             <button>Request Appointment</button>//Date picker pops up
    </div>
    <div>
        @Html.Partial("~/Views/FrontEnd/_Diagnosis.cshtml");
    </div>

    <div>
        @Html.Partial("~/Views/FrontEnd/_SubmitCondition.cshtml");\
    </div>

        <div>
        @Html.Partial("~/Views/FrontEnd/_SubmitMood.cshtml");\
    </div>

    <div>
        @Html.Partial("~/Views/FrontEnd/_DailyPlanner.cshtml");
    </div>*@

<script>
    $(document).ready(function () {
          $('#SubmitMood').click(function () { //async

        });

          $('#SubmitCondition').click(function () { //async then hide edit

          });

     $('#RequestAppointment').click(function () {

        });

            

    });

</script>
