@model IEnumerable<Formatics.Models.Steps>


<table id = "DailyPlannerView" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterventionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StepId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StepId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StepId })
        </td>
    </tr>
}

</table>
