@model Formatics.Models.Diagnosis

<div>
    <h4>Diagnosis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterventionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterventionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDiagnosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDiagnosed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiagnosisId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
