@model Formatics.Models.Steps

<div id="TreatementGlimpseView" hidden>
    <h4>Treatment Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterventionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterventionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>

