<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQbmRUy1ZtjroXIrAjcyqcJkRB74HHkU0&callback=initMap"
            type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyAQbmRUy1ZtjroXIrAjcyqcJkRB74HHkU0"
        type="text/javascript"></script>
    <style>
        #testMap {
            height: 400px;
            width: 300px;
        }

        li:hover {
            background-color: olivedrab;
        }


        div.body-content {
            outline: double;
            outline-color: olivedrab;
            border: double;
            border-color: olivedrab;
            background: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        div.container {
            border-color: olivedrab;
            background: border-box;
            width: auto;
        }
    </style>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="top">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Formatics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

       
    $(document).ready(function () {
         var location = { lat: 43.0389, lng: -87.9065 };

            var options = {
                zoom: 13, 
                center: location,
            }

            var map = new google.maps.Map(document.getElementById('testMap'), options);

            
        $("#Alert").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

            var $alert = $("#AlertView"),
        url = $(this).data('url');

    $.get(url, function(data) {
        $alert.replaceWith(data);
    });

        });

          $("#Details").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

              $("#detailsMedicine").show();
              $("#Details").hide();

      
          });

         $("#HideDetails").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

              $("#detailsMedicine").hide();
             $("#Details").show();

         });

         $("#setAppoint").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

             
            var $appoint = $("#dateAppoint"),
        url = $(this).data('url');

    $.get(url, function(data) {
        $appoint.replaceWith(data);
    });
       

         });

         $("#Alert").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

              $("#Alert").hide();
               $("#hidealerts").show();

      
          });

         $("#hidealerts").click(function (page) {
            page.preventDefault();
            page.stopPropagation();

            $("#hidealerts").hide();

             $("#Alert").show();

         });
       
     
        
    

        //zoom: 13,
        ////mapTypeId: google.maps.MapTypeId.ROADMAP,
        //zoomControl: true,
        //zoomControlOptions: {
        //    position: google.maps.ControlPosition.LEFT_BOTTOM
        //},
        //streetViewControl: true,
        //streetViewControlOptions: {
        //    position: google.maps.ControlPosition.LEFT_BOTTOM

        //},

        //mapTypeControlOptions: {
        //    position: google.maps.ControlPosition.RIGHT_CENTER
        //},






    });
           

    </script>

</body>
</html>
